﻿<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img id="Image1" src="~/Content/themes/Default/dist/img/user_icon-160x160.jpg" class="user-image" alt="User Image" />
        <span class="hidden-xs">
            @User.Identity.Name
        </span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/Content/themes/Default/dist/img/user_icon-160x160.jpg" class="img-circle" alt="User Image" />
            <p>
                @Session["ses_user_name"]
                <small>Member since Nov. 2012</small>
            </p>
        </li>
        <!-- Menu Body -->
        @*<li class="user-body">
            <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
            </div>
        </li>*@

        <!-- Menu Footer-->
        @*<li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
                @if (Request.IsAuthenticated)
                {

                    @Html.ActionLink("Sign Out", "LogOff", "Account", null, new { @class = "btn btn-danger btn-flat" })
                }
            </div>
        </li>*@

    </ul>
</li>

<li style="background-color: rgba(220, 75, 57, 1);">
    @if (Request.IsAuthenticated)
    {
        <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out"></i> Sign Out</a>
        @*@Html.ActionLink("Sign Out", "LogOff", "Account", null, new { @class = "btn btn-danger btn-flat" })*@
    }
</li>
