﻿
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
           
            @{ Html.RenderPartial("UserControls/_Partial_Login"); }
            <!-- Control Sidebar Toggle Button -->
            @*<li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>*@
        </ul>
    </div>
</nav>

