﻿
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>*@

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header text-center">MENU</li>

            @{
                if (Session["ses_sys_data"] != null)
                {
                    System.Data.DataSet ds = new System.Data.DataSet();
                    ds = (System.Data.DataSet)Session["ses_sys_data"];

                    System.Data.DataTable dtMenuParent = ds.Tables["MenuParent"];
                    System.Data.DataTable dtMenuChild = ds.Tables["MenuChild"];

                    string strHtml = "";
                    foreach (System.Data.DataRow row in dtMenuParent.Rows)
                    {
                        string strChildMenu = "";
                        string filterExp = "menu_group = '" + row["menu_group"] + "'";
                        string sortExp = "menu_sequence";
                        System.Data.DataRow[] drarray;
                        drarray = dtMenuChild.Select(filterExp, sortExp, System.Data.DataViewRowState.CurrentRows);
                        for (int i = 0; i < drarray.Length; i++)
                        {
                            strChildMenu += "<li>";

                            strChildMenu += "<a ID=\"lmenu_" + drarray[i]["menu_id"].ToString() + "\" runat=\"server\" href=\"" + Url.Content(drarray[i]["process"].ToString()) + "\">";

                            strChildMenu += "<i class=\"fa fa-circle-o\"></i>";
                            strChildMenu += drarray[i]["menu_name"].ToString();
                            strChildMenu += "</a>";
                            strChildMenu += "</li>";
                        }

                        //Parent Menu
                        strHtml += "<li class=\"treeview\">";
                        strHtml += "<a href=\"" + (row["process"] == null || row["process"] == "" ? "#" : Url.Content(row["process"].ToString())) + "\">";
                        strHtml += " <i class=\"fa fa-angle-double-right\"></i> ";
                        strHtml += "    <span>" + row["menu_name"] + "</span>";
                        //Add Arrow
                        if (strChildMenu != "")
                        {
                            strHtml += " <i class=\"fa fa-angle-left pull-right\"></i>";
                        }
                        strHtml += "</a>";

                        //Child Menu
                        if (strChildMenu != "")
                        {
                            strHtml += "<ul class=\"treeview-menu\">";
                            strHtml += strChildMenu;
                            strHtml += "</ul>";
                        }

                        strHtml += "</li>";
                    }

                    WriteLiteral(strHtml);
                }
            }


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>