﻿@model TTS.Models.UserModel

@{
    ViewBag.Title = "กำหนดสิทธิ์การใช้งาน";
    ViewBag.PageTitle = "กำหนดสิทธิ์การใช้งาน";
    ViewBag.PageDesc = "Authenticate Users";
}

<div class="panel-group" id="accordion" role="tablist">
    <div class="panel panel-success">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title inline">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="fa fa-search"></i> ตัวเลือก
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse " role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                @using (Html.BeginForm("Authorize", "Management", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="form-group form-group-sm">
                        <label for="inputEmail3" class="col-sm-2 control-label">กลุ่มผู้ใช้</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(a => a.user_group_id, new SelectList(Model.UserGroup, "Value", "Text", Request.QueryString["id"]), new { id = "U_id", @class = "form-control", Name = "id" })
                        </div>

                        <div class="col-sm-4">
                            <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-search"></i> แสดง</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@if (Request.QueryString["id"] != null)
{
    @section styles{
        @Styles.Render("~/Content/plugins/Bootstrap-Tree-View/TreeView.css")
    }
    
    Html.RenderAction("Authorize_Edit");
    
    @section Scripts
    {
        <script src="~/Content/plugins/Bootstrap-Tree-View/TreeView.js"></script>
    }
}