﻿@model IEnumerable<TTS.Models.UserModel>

@using GridMvc.Html
@using GridMvc.Sorting


@{
    ViewBag.Title = "ผู้ใช้งาน";
    ViewBag.PageTitle = "ผู้ใช้งาน";
    ViewBag.PageDesc = "User";
}

@if (Request.QueryString["actions"] == null)
{

    <div class="panel-group" id="accordion" role="tablist">
        <div class="panel panel-success">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title inline">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <i class="fa fa-search"></i> ตัวเลือกค้นหา
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @using (Html.BeginForm("User", "Management", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group form-group-sm">
                            <label for="inputEmail3" class="col-sm-2 control-label">User Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="user_name">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="inputPassword3" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="user_fist_name">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="inputPassword3" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="user_last_name">
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom:0;">
                            <div class="col-md-4 text-left">

                            </div>
                            <div class="col-md-4 text-center"></div>
                            <div class="col-md-4 text-right"><button class="btn btn-primary btn-sm"><i class="fa fa-search"></i> ค้นหา</button></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success btn-sm" role="button" href="@Url.Action("User", "Management", new { actions = "Add" })"><i class="fa fa-plus"></i>  เพิ่มใหม่</a>
        </div>
    </div>

    @Html.Grid(Model).Columns(columns =>
                    {

                        columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(25)
                                .RenderValueAs(link => @<a class="btn btn-warning btn-xs" href="@Url.Action("User", "Management", new
                                                                                           {
                                                                                               id = link.user_id,
                                                                                               actions="Edit",
                                                                                               returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery
                                                                                           }, null)" role="button" title="แก้ไข" name="btn_Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>)
                                .Titled("แก้ไข")
                                .Css("text-center").Css("nosort");

                        columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(25)
                                .RenderValueAs(link => @<a class="btn btn-danger btn-xs link_delete" name="btn_Delete" id="ln-@Html.Encode(link.user_id)" href="@Url.Action("Delete", "User", new
                                                                                          {
                                                                                              id = link.user_id,
                                                                                              returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery
                                                                                          }, null)" role="button" title="ลบ"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>)
                                .Titled("ลบ")
                                .Css("text-center").Css("nosort");

                        columns.Add(c => c.user_id).Titled("User ID");
                        columns.Add(c => c.name).Titled("User Name");
                        columns.Add(c => c.first_name).Titled("First Name");
                        columns.Add(c => c.last_name).Titled("Last Name");
                        //columns.Add(c => c.locale_id).Titled("Local");
                        //columns.Add(c => c.is_active).Titled("Active");
                        columns.Add(c => c.create_date).Titled("Create Date");
                    })

    //End If
}
else
{
    <div id="div_edit">
        @{
    if (Request.QueryString["actions"].ToString() == "Edit")
    {
        Html.RenderAction("User_Edit");
    }
    else if (Request.QueryString["actions"].ToString() == "Add")
    {
        Html.RenderAction("User_Add");
    }
        }
    </div>
}


@section Scripts
{
    <script>
        $(function () {
            var oTable = $('.table').DataTable({
                "autoWidth": false,
                "aaSorting": [[2, 'asc']],
                "dom": '<"top.pull-right"l>rt<"row"<"col-md-6"i><"col-md-6"p>> <"clear">',
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': ['nosort']
                }]
            });

        });
    </script>

    <script src="~/Scripts/Script_Action.js"></script>
}