﻿@model TTS.Models.ReturnCustomerModel

@{
    ViewBag.Title = "แก้ไขการรับคืนสินค้าจากลูกค้า";
    ViewBag.PageTitle = "แก้ไขการรับคืนสินค้าจากลูกค้า";
    ViewBag.PageDesc = "";
}

@if (Request.QueryString["msg"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>บันทึกข้อมูลไม่สำเร็จ!</strong> : @Request.QueryString["msg"].ToString()
    </div>
}

<div ng-controller="ProcessController_ReturnCustomerEdit">
    <div id="panelEditForm">
        @using (Html.BeginForm("ReturnCustomer_Update", "Process", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.PGSC)</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="PGSC" ng-model="PGSC" value="{{ PGSC }}" readonly />
                </div>
                <label for="input2" class="col-sm-2 control-label">@Html.LabelFor(a => a.Size)</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Size" ng-model="Size" value="{{ Size }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.Style)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Style" ng-model="Style" value="{{ Style }}" readonly />
                </div>
            </div>

            <hr />


            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.Price)</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Price" ng-model="Price" value="{{ Price }}" readonly />
                </div>

                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.DiscountPer)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        @*@Html.TextBoxFor(a => a.DiscountPer, new { @class = "form-control", aria_describedby = "addon-PER" })*@
                        <input type="text" class="form-control" name="DiscountPer" ng-model="DiscountPer" value="{{ DiscountPer }}" aria-describedby="addon-PER" readonly />
                        <span class="input-group-addon" id="addon-PER">%</span>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.PriceTotal)</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="PriceTotal" ng-model="PriceTotal" value="{{ PriceTotal }}" readonly />
                </div>
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.Qty)</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="Qty" ng-model="Qty" value="{{ Qty }}" />
                </div>
            </div>

            <input type="hidden" name="Id" ng-model="Id" value="{{ Id }}" />
            <input type="hidden" name="OrderNumber" ng-model="OrderNumber" value="{{ OrderNumber }}" />
            <input type="hidden" name="LineNumber" ng-model="LineNumber" value="{{ LineNumber }}" />
            <input type="hidden" name="GP" ng-model="GP" value="{{ GP }}" />
            <input type="hidden" name="GPCode" ng-model="GPCode" value="{{ GPCode }}" />
            <input type="hidden" name="Vat" ng-model="Vat" value="{{ Vat }}" />
            <input type="hidden" name="LineTotal" ng-model="LineTotal" value="{{ LineTotal }}" />
            <input type="hidden" name="InvoiceNumber" ng-model="InvoiceNumber" value="{{ InvoiceNumber }}" />
            <input type="hidden" name="RefNumber" ng-model="RefNumber" value="{{ RefNumber }}" />
            <input type="hidden" name="IsExport" ng-model="IsExport" value="{{ IsExport }}" />

            <input type="hidden" name="Discount" ng-model="Discount" value="{{ Discount }}" />
            <input type="hidden" name="DiscountOnTop" ng-model="DiscountOnTop" value="{{ DiscountOnTop }}" />
            <input type="hidden" name="DiscountHdPer" ng-model="DiscountHdPer" value="{{ DiscountHdPer }}" />
            <input type="hidden" name="DiscountHdAm" ng-model="DiscountHdAm" value="{{ DiscountHdAm }}" />

            <input type="hidden" name="WHCode" ng-model="WHCode" value="{{ WHCode }}" />
            <input type="hidden" name="CompanyCode" ng-model="CompanyCode" value="{{ CompanyCode }}" />
            <input type="hidden" name="BranchCode" ng-model="BranchCode" value="{{ BranchCode }}" />

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    @*<button type="button" class="btn btn-success" ng-click="btnSaveSalesOrder_OnClick()"><i class="fa fa-floppy-o"></i> บันทึก</button>*@
                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> บันทึก</button>
                    <a class="btn btn-danger" role="button" onclick="window.history.back()"><i class="fa fa-times"></i> ยกเลิก</a>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/app/ProcessController.js"></script>
    <script src="~/Scripts/app/ReturnCustomer.js"></script>
    <script language="javascript">
        $(document).ready(function () {

            $(function () {
                $("[data-url]").click(function () {
                    location.href = $(this).data("url");
                });
            });
        });
    </script>
}