﻿@model TTS.Models.ReturnCompanyModel

@{
    ViewBag.Title = "แก้ไขข้อมูลส่งสินค้าคืนบริษัท";
    ViewBag.PageTitle = "แก้ไขข้อมูลส่งสินค้าคืนบริษัท";
    ViewBag.PageDesc = "";
}

@if (Request.QueryString["msg"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>บันทึกข้อมูลไม่สำเร็จ!</strong> : @Request.QueryString["msg"].ToString() 
    </div>
}

<div ng-controller="ProcessController_ReturnEdit">
    <div id="panelEditForm">
        @using (Html.BeginForm("ReturnCompany_Update", "Process", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.OrderNumber)</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="OrderNumber" ng-model="OrderNumber" value="{{ OrderNumber }}" readonly />
                </div>

                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.ProductId)</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="ProductId" ng-model="ProductId" value="{{ ProductId }}" readonly />
                </div>

                <label for="input2" class="col-sm-1 control-label">@Html.LabelFor(a => a.Size)</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" name="Size" ng-model="Size" value="{{ Size }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.WHCode)</label>
                <div class="col-sm-3">
                    <select name="WHCode" ng-model="WHCode" class="form-control">
                        <option ng-repeat="lsWHlist in WHlists" value="{{lsWHlist.WHCode}}">{{lsWHlist.WHCode}}</option>
                    </select>
                </div>

                <label for="input2" class="col-sm-2 control-label">@Html.LabelFor(a => a.ProductName)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="ProductName" ng-model="ProductName" value="{{ProductName }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.ApproveBy)</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="ApproveBy" ng-model="ApproveBy" value="{{ApproveBy }}" readonly />
                </div>

                <label for="input2" class="col-sm-2 control-label">@Html.LabelFor(a => a.RTPrice)</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="RTPrice" ng-model="RTPrice" value="{{RTPrice }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.Reason)</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="Reason" ng-model="Reason" value="{{Reason }}" readonly />
                </div>

                <label for="input2" class="col-sm-2 control-label">@Html.LabelFor(a => a.Qty)</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" name="Qty" ng-model="Qty" value="{{Qty }}" />
                </div>
            </div>


            <input type="hidden" name="Id" ng-model="Id" value="{{ Id }}" />
            <input type="hidden" name="BranchCode" ng-model="BranchCode" value="{{ BranchCode }}" />
            <input type="hidden" name="InvoiceNumber" ng-model="InvoiceNumber" value="{{InvoiceNumber }}" />
            <input type="hidden" name="RefNumber" ng-model="RefNumber" value="{{ RefNumber }}" />
            <input type="hidden" name="IsExport" ng-model="IsExport" value="{{ IsExport }}" />


            <div class="form-group">
                <div class="col-sm-12 text-center">
                    @*<button type="button" class="btn btn-success" ng-click="btnSaveSalesOrder_OnClick()"><i class="fa fa-floppy-o"></i> บันทึก</button>*@
                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> บันทึก</button>
                    <a class="btn btn-danger" role="button" onclick="window.history.back()"><i class="fa fa-times"></i> ยกเลิก</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/app/ProcessController.js"></script>
    <script src="~/Scripts/app/ReturnCompany.js"></script>
    <script language="javascript">
        $(document).ready(function () {

            $(function () {
                $("[data-url]").click(function () {
                    location.href = $(this).data("url");
                });
            });
        });
    </script>
}