﻿@{
    Layout = null;
    //ViewBag.Title = "SalesOrder_Discount";
}

<div id="panelDiscountExtra" style="display:none;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Discount Extra</h3>
        </div>
        <div class="panel-body">

            <form name="frmDiscountExtra" class="form-horizontal" ng-submit="addDiscountExtra()" novalidate>
                <div class="form-group">
                    <label for="input1" class="col-sm-2 control-label">ประเภทบัตร/คูปอง</label>
                    <div class="col-sm-10">
                        @*@Html.TextBoxFor(a => a.cardType, new { @class = "form-control", @readonly = "true" })*@
                        <div>
                            <select ng-model="CouponExtralist" ng-change="CouponExtralist_OnChange()" class="form-control">
                                @*<option value="">-- Select a Book --</option>*@
                                <option ng-repeat="lsCouponExtra in CouponExtralists" value="{{lsCouponExtra.id}}">{{lsCouponExtra.name}}</option>
                            </select>
                            @*<p>Selected Book: <b>{{ Couponlist }}</b></p>*@
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input1" class="col-sm-2 control-label">ส่วนลด(%)</label>
                    <div class="col-sm-10">
                        @*@Html.TextBoxFor(a => a.discountPer, new { @class = "form-control", @readonly = "true" })*@
                        <input type="text" class="form-control" name="name" ng-model="dDiscountPerExtra" required readonly />
                    </div>
                </div>

                <div class="form-group">
                    <label for="input1" class="col-sm-2 control-label">ส่วนลด(บาท)</label>
                    <div class="col-sm-10">
                        @*@Html.TextBoxFor(a => a.discount, new { @class = "form-control", @readonly = "true" })*@
                        <input type="text" class="form-control" name="name" ng-model="dDiscountBahtExtra" required readonly />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-success" ng-disabled="frmDiscountExtra.$invalid">
                            <i class="fa fa-plus"></i> เพิ่ม
                        </button>
                    </div>
                </div>

                <hr />
            </form>


            @using (Html.BeginForm("Discount_Update", "Process", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="200">ลำดับ</th>
                                    <th>ส่วนลด (%)</th>
                                    <th>ส่วนลด (บาท)</th>
                                    <th width="25" align="center">ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rowsDiscountExtra">
                                    <td>{{row.No}}</td>
                                    <td>{{row.DiscountPer}}</td>
                                    <td>{{row.DiscountBaht}}</td>
                                    <td align="center">
                                        <a class="btn btn-danger btn-xs link_delete" name="btn_Delete" role="button" title="ลบ" ng-click="removeDiscountExtra($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-success btnDiscountExtraForm"><i class="fa fa-check"></i> ตกลง</button>
                        @*<button type="button" class="btn btn-warning"><i class="fa fa-floppy-o"></i> ลบ</button>
                        <button type="button" class="btn btn-danger btnDiscountExtraForm"><i class="fa fa-close"></i> ออก</button>*@
                    </div>
                </div>

            }

        </div>
    </div>

</div>