﻿@model IEnumerable<TTS.Models.SalesOrderModel>
@*@model TTS.Models.SalesOrderModel*@

@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "ข้อมูลการขายสินค้า";
    ViewBag.PageTitle = "ข้อมูลการขายสินค้า";
    ViewBag.PageDesc = "Sales Order";
}

@if (ViewContext.RouteData.Values["bid"] == null)
{
    <div ng-controller="ProcessController">

        <div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title inline">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fa fa-search"></i> ตัวเลือกค้นหา
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @using (Html.BeginForm("SalesOrder", "Process", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group form-group-sm">
                                <label for="inputPassword3" class="col-sm-2 control-label">วันที่เริ่ม</label>
                                <div class="col-sm-10">
                                    <div class="span5 col-md-10" id="sandbox-container" style="padding-left: 0;">
                                        <div class="input-daterange input-group" id="Div1">
                                            <input type="text" class="input-sm form-control" id="period_start" ng-model="period_start" name="period_start" placeholder="เลือกวันที่เริ่ม" />
                                            <span class="input-group-addon">ถึง</span>
                                            <input type="text" class="input-sm form-control" id="period_end" ng-model="period_end" name="period_end" placeholder="เลือกวันที่สิ้นสุด" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group form-group-sm">
                                <label for="inputPassword3" class="col-sm-2 control-label">รหัสกลุ่มลูกค้า</label>
                                <div class="col-sm-4">
                                    <select name="custCode" ng-model="custCodeList" ng-change="custCodeList_OnChange()" class="form-control  js-select2-1">
                                        <option value="">แสดงทั้งหมด</option>
                                        <option ng-repeat="lsCustGroup in cList" value="{{lsCustGroup.CustGroupCode}}">{{lsCustGroup.Description}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group form-group-sm">

                                <label for="inputPassword3" class="col-sm-2 control-label">รหัสสาขา <i id="div_spin" class="fa fa-spinner " style="display: none;"></i></label>
                                <div class="col-sm-8">

                                    <select id="lsBranch" name="branch" ng-model="branchList" class="form-control js-select2-1">
                                        <option value="">แสดงทั้งหมด</option>
                                        <option ng-repeat="lsBranch in baList" value="{{lsBranch.BranchId}}">{{lsBranch.BranchName}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">

                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom:0;">
                                <div class="col-md-3 text-left"></div>
                                <div class="col-md-6 text-center">
                                    <button type="button" class="btn btn-primary btn-sm" id="btnSearchSalesOrder" ng-model="btnSearch" ng-click="getBranchFromSalesOrder()"><i class="fa fa-search"></i> แสดง</button>
                                </div>
                                <div class="col-md-3 text-right"></div>
                            </div>
                        }


                        <div ng-repeat="alert in alerts" ng-show="alert.show">
                            <alert type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        @if (Request.QueryString["msg"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>บันทึกข้อมูลไม่สำเร็จ!</strong> : @Request.QueryString["msg"].ToString()
            </div>
        }


        @using (Html.BeginForm("SalesOrder_Send", "Process", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <table id="tbSalesOrder" class="table table-bordered table-striped" ng-init="getBranchFromSalesOrder()">
                <thead>
                    <tr>
                        <th>กลุ่มลูกค้า</th>
                        <th>รหัสสาขา</th>
                        <th>สาขา</th>
                        <th class="nosort" width="60">ยืนยัน</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-model="trBranchFromSalesOrder" ng-repeat="lsBranch in BranchFromSalesOrderList" sales-order-repeat-directive>
                        <td>{{ lsBranch.Description }}</td>
                        <td>{{ lsBranch.BranchCode }}</td>
                        <td><a href="SalesOrder/{{ lsBranch.BranchCode }}/{{ period_start }}/{{ period_end }}">{{ lsBranch.CustNameThai }}</a></td>
                        <td align="center"><input type="checkbox" name="chk[]" ng-model="lsBranch.val" value="{{ lsBranch.CustGroupCode }}|{{ lsBranch.BranchCode }}|{{ period_start }}|{{ period_end }}" /></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align:right;">
                            <button type="submit" class="btn btn-success btn-xs" id="btn_SendToHost" ng-model="btn_SendToHost" ng-show="HOChoosed()"><i class="fa fa-upload"></i> ส่งข้อมูล HO</button>

                            @*<a class="btn btn-success btn-xs link_Send" name="btn_SendToHost" href="#" role="button" title="Send to host" ng-show="HOChoosed()"><i class="fa fa-upload"></i> ส่งข้อมูล HO</a>*@

                        </td>
                    </tr>
                </tfoot>
            </table>
        }

    </div>
    @section Scripts
    {
        <script src="~/Scripts/app/ProcessController.js"></script>
        <script src="~/Scripts/app/SalesOrder.js"></script>
        <script language="javascript">
            $(document).ready(function () {
                var d = new Date();
                var currDate = d.getDate();
                var currMonth = d.getMonth();
                var currYear = d.getFullYear();
                var startDate = currDate + "/" + currMonth + "/" + currYear;

                $('#sandbox-container .input-daterange').datepicker({
                    defaultDate: startDate,
                    format: "yyyy-mm-dd",
                    startView: 1,
                    todayBtn: true,
                    language: "th",
                    orientation: "top auto",
                    autoclose: true,
                    multidate: false
                });

                //$('#btnSendData').click(function () {
                //    $("#loader-wrapper").show();
                //});

                $("#chkAll").change(function () {
                    $(".chkbox").prop('checked', $(this).prop("checked"));
                });
            });
        </script>
    }
}
else
{




    <div class="table-responsive">

        @Html.Grid(Model).Columns(columns =>
                    {
                        @*columns.Add().Encoded(false)
                            .Sanitized(false)
                            .SetWidth(25)
                            .Css("text-center")
                            .Titled("<input type=\"checkbox\" name=\"chkAll\" id=\"chkAll\" >")
                            .RenderValueAs(link => @<input type="checkbox" class="chkbox" name="chk[]" id="@link.OrderNumber|@link.ProductId|@link.size_id">);*@

                        columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(25)
                        .RenderValueAs(link =>
                            @<a class="btn btn-warning btn-xs link_Edit" name="btn_Edit" id="lnEdit-@Html.Encode(link.OrderNumber)" href="@Url.Action("SalesOrder_Edit", "Process", new
                                                                                          {
                                                                                              i = link.OrderNumber,
                                                                                              p = link.ProductId,
                                                                                              s = link.size_id,
                                                                                              g = link.GroupBrandCode,
                                                                                              l = link.LineNumber
                                                                                          }, null)" role="button" title="แก้ไข"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>)
                                .Titled("แก้ไข")
                                .Css("text-center").Css("nosort");

                                @*columns.Add()
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .SetWidth(25)
                                    .RenderValueAs(link =>
                                        @<a class="btn btn-warning btn-xs link_Edit" name="btn_Edit" id="lnEdit-@Html.Encode(link.OrderNumber)" href="/Process/SalesOrder_Edit/@link.OrderNumber/@link.ProductId/@link.size_id/@link.GroupBrandCode" role="button" title="แก้ไข"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>)
                                            .Titled("แก้ไข")
                                            .Css("text-center").Css("nosort");*@

                        columns.Add()
                                .Encoded(false)
                                .Sanitized(false)
                                .SetWidth(25)
                                .RenderValueAs(link => @<a class="btn btn-danger btn-xs link_delete" name="btn_Delete" id="ln-@Html.Encode(link.OrderNumber)" href="@Url.Action("SalesOrder_Delete", "Process", new
                                                                                          {
                                                                                              i = link.OrderNumber,
                                                                                              p = link.ProductId,
                                                                                              s = link.size_id,
                                                                                              returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery
                                                                                          }, null)" role="button" title="ลบ"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>)
                                .Titled("ลบ")
                                .Css("text-center").Css("nosort");

                        columns.Add(s => s.DocDate).Titled("วันที่").Format("{0:dd/MM/yyyy}");
                        columns.Add(s => s.OrderNumber).Titled("เลขที่งาน");
                        columns.Add(s => s.BranchCode).Titled("สาขา");
                        columns.Add(s => s.ProductId).Titled("รหัสสินค้า");
                        //columns.Add(s => s.s).Titled("ขนาด").Filterable(true);
                        columns.Add(s => s.Discount).Titled("ส่วนลดบริษัท").Format("{0:n2}");
                        columns.Add(s => s.GPCode).Titled("รหัส GP");
                        //columns.Add(s => s.dis).Titled("ส่วนลด On Top(%)");
                        columns.Add(s => s.DiscountPer).Titled("ส่วนลด On Top(บาท)").Format("{0:n2}");
                        columns.Add(s => s.Qty).Titled("ปริมาณ");
                        columns.Add(s => s.PriceTotal).Titled("จำนวนเงินรวม").Format("{0:n2}");
                        columns.Add(s => s.IsExport).Titled("Export Status").Css("text-center");
                    })

    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-danger" role="button" onclick="window.history.back()"><i class="fa fa-backward"></i> กลับ</a>
        </div>
        <div class="col-md-6"></div>
    </div>

    @section Scripts2
    {
        <script language="javascript">
            $(function () {
                var oTable = $('.table').DataTable({
                    lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                    pageLength: 20,
                    "autoWidth": false,
                    "aaSorting": [[2, 'asc']],
                    "dom": 'rt<"row"<"col-md-6"li><"col-md-6"p>> <"clear">',
                    'aoColumnDefs': [{
                        'bSortable': false,
                        'aTargets': ['nosort']
                    }]
                });
            });
        </script>

        <script src="~/Scripts/Script_Action.js"></script>
    }
}



