﻿@model TTS.Models.SalesOrderModel

@{
    ViewBag.Title = "บันทึกข้อมูลการขายสินค้า";
    ViewBag.PageTitle = "บันทึกข้อมูลการขายสินค้า";
    ViewBag.PageDesc = "Sales Order";
}

@if (Request.QueryString["msg"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>บันทึกข้อมูลไม่สำเร็จ!</strong> : @Request.QueryString["msg"].ToString()
    </div>
}

<div ng-controller="ProcessController_Edit" ng-init="init_SalesOrder()" >
    <div id="panelEditForm">

        <div id="alert_placeholder"></div>

        @using (Html.BeginForm("SalesOrder_Update", "Process", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.ProductId)</label>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(a => a.ProductId, new { @class = "form-control", @readonly = "true", value = "{{d}}" })*@
                    <input type="text" class="form-control" name="ProductId" ng-model="ProductId" value="{{ ProductId }}" readonly />
                </div>
                <label for="input2" class="col-sm-1 control-label">@Html.LabelFor(a => a.size_id)</label>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(a => a.size_id, new { @class = "form-control", @readonly = "true" })*@
                    <input type="text" class="form-control" name="size" ng-model="size_id" value="{{ size_id }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.ProductName)</label>
                <div class="col-sm-10">
                    @*@Html.TextBoxFor(a => a.ProductName, new { @class = "form-control", @readonly = "true" })*@
                    <input type="text" class="form-control" name="Style" ng-model="Style" value="{{ Style }}" readonly />
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.Price)</label>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(a => a.Cost, new { @class = "form-control", @readonly = "true" })*@
                    <input type="number" class="form-control" name="Price" ng-model="Price" value="{{ Price }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.DiscountPer)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        @*@Html.TextBoxFor(a => a.DiscountPer, new { @class = "form-control", aria_describedby = "addon-PER" })*@
                        <input type="number" class="form-control" name="DiscountPer" ng-model="DiscountPer" ng-blur="CalTotal()" value="{{ DiscountPer }}" aria-describedby="addon-PER" max="100" />
                        <span class="input-group-addon" id="addon-PER">%</span>
                    </div>
                </div>
                <label for="input1" class="col-sm-1 control-label">@Html.LabelFor(a => a.Discount)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="number" class="form-control" name="Discount" ng-model="cDiscount" value="{{  ((Price * DiscountPer)/100) }}" ar aria-describedby="addon-THB" readonly />
                        <span class="input-group-addon" id="addon-THB">บาท</span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">ราคาขาย</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="SalePrice" ng-model="SalePrice" value="{{ Price - ( ((Price * DiscountPer)/100)) }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.Qty)</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="Qty" ng-model="Qty" value="{{ Qty }}" readonly />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.GP_id)</label>
                <div class="col-sm-4">
                    @*@Html.DropDownListFor(a => a.GP_id, Model.GP, new { @class = "form-control" })*@
                    <select name="GPCode" ng-model="GPlist" ng-change="GPlist_OnChange()" class="form-control">
                        @*<option value="">-- Select a Book --</option>*@
                        <option ng-repeat="lsGP in glist" value="{{lsGP}}">{{lsGP}}</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" id="btnDiscountExtra"><i class="fa fa-tags"></i> ส่วนลด Extra</button>
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.DiscountAll)</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        @*@Html.TextBoxFor(a => a.DiscountAll, new { @class = "form-control", @readonly = "true", aria_describedby = "addon-THB2" })*@
                        <input type="text" class="form-control" name="DiscountAll" ng-model="DiscountAll" value="{{ DiscountAll }}" aria-describedby="addon-THB2" readonly />
                        <span class="input-group-addon" id="addon-THB2">บาท</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" id="btnDiscount"><i class="fa fa-tag"></i> ส่วนลด</button>
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.PriceTotal)</label>
                <div class="col-xs-4">
                    @*@Html.TextBoxFor(a => a.PriceTotal, new { @class = "form-control" })*@
                    <input type="text" class="form-control" name="PriceTotal" ng-model="PriceTotal" value="{{ PriceTotal }}" />
                </div>
            </div>

            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">@Html.LabelFor(a => a.DocDate)</label>
                <div class="col-sm-4">
                    @*@Html.TextBoxFor(a => a.DocDate, new { @class = "form-control", @readonly = "true" })*@
                    <input type="text" class="form-control" name="DocDate" ng-model="DocDate" value="{{ DocDate }}" readonly />
                </div>
            </div>

            <input type="hidden" name="OrderNumber" ng-model="OrderNumber" value="{{ OrderNumber }}" />
            <input type="hidden" name="LineNumber" ng-model="LineNumber" value="{{ LineNumber }}" />
            <input type="hidden" name="GP" ng-model="GP" value="{{ GP }}" />
            <input type="hidden" name="Vat" ng-model="Vat" value="{{ Vat }}" />
            <input type="hidden" name="LineTotal" ng-model="LineTotal" value="{{ LineTotal }}" />
            <input type="hidden" name="InvoiceNumber" ng-model="InvoiceNumber" value="{{ InvoiceNumber }}" />
            <input type="hidden" name="RefNumber" ng-model="RefNumber" value="{{ RefNumber }}" />
            <input type="hidden" name="IsExport" ng-model="IsExport" value="{{ IsExport }}" />
            <input type="hidden" name="Cost" ng-model="Cost" value="{{ Cost }}" />

            <input type="hidden" name="Branch" ng-model="Branch" value="@Request.QueryString["g"].ToString()" />

            @*<input type="hidden" name="Discount" ng-model="Discount" value="{{ Discount }}" />*@
            <input type="hidden" name="DiscountOnTop" ng-model="DiscountOnTop" value="{{ DiscountOnTop }}" />

            <div ng-model="DicountValue">
                <input type="hidden" name="OrderDiscount[]" value="{{ dRows.Code }}|{{ dRows.name }}|{{dRows.DiscountPer}}|{{dRows.DiscountBaht}}" ng-repeat="dRows in rowsDiscountValue" />
                <input type="hidden" name="OrderDiscountExtra[]" value="{{ dRows.Code }}|{{ dRows.name }}|{{dRows.DiscountPer}}|{{dRows.DiscountBaht}}" ng-repeat="dRows in rowsDiscountExtraValue" />
            </div>


            <div class="form-group">
                <div class="col-sm-12 text-center">
                    @*<button type="button" class="btn btn-success" ng-click="btnSaveSalesOrder_OnClick()"><i class="fa fa-floppy-o"></i> บันทึก</button>*@
                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> บันทึก</button>
                    <a class="btn btn-danger" role="button" onclick="window.history.back()"><i class="fa fa-times"></i> ยกเลิก</a>
                </div>
            </div>
        }
    </div>
    @{Html.RenderAction("SalesOrder_Discount");}
    @{Html.RenderAction("SalesOrder_DiscountExtra");}

</div>

@section Scripts
{
    <script src="~/Scripts/app/ProcessController.js"></script>
    <script src="~/Scripts/app/SalesOrder.js"></script>
    <script language="javascript">
        $(document).ready(function () {
            $("#btnDiscount").click(function () {
                $("#panelEditForm").slideUp();
                $("#panelDiscount").slideDown();
                //$("#panelDiscountExtra").hide();
                //alert("Discount");panelEditForm
            });
            $("#btnDiscountExtra").click(function () {
                $("#panelEditForm").slideUp();
                $("#panelDiscountExtra").slideDown();
                //$("#panelDiscount").hide();
                //alert("Discount");panelEditForm
            });

            $(".btnDiscountForm").click(function () {
                $("#panelDiscount").slideUp();
                $("#panelEditForm").slideDown();
            });
            $(".btnDiscountExtraForm").click(function () {
                $("#panelDiscountExtra").slideUp();
                $("#panelEditForm").slideDown();
            });

            $(function () {
                $("[data-url]").click(function () {
                    location.href = $(this).data("url");
                });
            });


            
        });

        function showalert(message, alerttype) {
            var alert_control = '<div id="alertdiv" class="alert alert-' + alerttype + ' alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> ' + message + ' </div>';

            $('#alert_placeholder').slideDown().append(alert_control);

            setTimeout(function () {
                $("#alertdiv").slideUp();
            }, 5000);
        }
    </script>
}